@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    --color-primary: #fbbf24;
    --color-confirm: rgb(74 222 128);
    --color-deny: rgb(239 68 68);
    --color-gray: rgb(31 41 55);
    --color-input-bg: rgb(71 85 105);
    --button-radius: 0.375rem;
    --input-radius: 0.125rem;
}

body {
    background-color: #0f172a;
    min-height: 100vh;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

.btn {
    background-color: var(--color-primary);
    padding: .25rem 1rem;
    color: var(--color-gray);
    font-weight: 600;
    border-radius: var(--button-radius);
}

.btn-lg {
    background-color: var(--color-primary);
    padding: .5rem 1.25rem;
    color: var(--color-gray);
    font-weight: 600;
    border-radius: var(--button-radius);
}

.btn-confirm {
    background-color: var(--color-confirm);
    padding: .25rem 1rem;
    color: var(--color-gray);
    font-weight: 600;
    border-radius: var(--button-radius);
}

.btn-deny {
    background-color: var(--color-deny);
    padding: .25rem 1rem;
    color: var(--color-gray);
    font-weight: 600;
    border-radius: var(--button-radius);
}

.text-input {
    padding: .25rem .4rem;
    border-radius: var(--input-radius);
    border-width: 4px;
    border-color: transparent;
    background-color: var(--color-input-bg);
    color: white;
    appearance: none;
}

.text-input:focus {
    border-color: var(--color-primary);
}

.date-input {
    padding: .25rem .4rem;
    border-radius: var(--input-radius);
    border-width: 4px;
    border-color: transparent;
    background-color: var(--color-input-bg);
    color: white;
    appearance: none;
}