@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #334155;
    min-height: 100vh;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}