@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    --color-primary: #fbbf24;
    --color-secondary: #0f172a;
    --color-confirm: rgb(74 222 128);
    --color-deny: rgb(239 68 68);
    --color-gray: rgb(31 41 55);
    --color-input-bg: rgb(71 85 105);
    --button-radius: 0.375rem;
    --input-radius: 0.125rem;
}

body {
    background-color: #0f172a;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

.btn {
    background-color: var(--color-primary);
    padding: .25rem 1rem;
    color: var(--color-gray);
    font-weight: 600;
    border-radius: var(--button-radius);
}

.btn-lg {
    background-color: var(--color-primary);
    padding: .5rem 1.25rem;
    color: var(--color-gray);
    font-weight: 600;
    border-radius: var(--button-radius);
}

.btn-confirm {
    background-color: var(--color-confirm);
    padding: .25rem 1rem;
    color: var(--color-gray);
    font-weight: 600;
    border-radius: var(--button-radius);
}

.btn-deny {
    background-color: var(--color-deny);
    padding: .25rem 1rem;
    color: var(--color-gray);
    font-weight: 600;
    border-radius: var(--button-radius);
}

.btn-deny-lg {
    background-color: var(--color-deny);
    padding: .5rem 1.25rem;
    color: var(--color-gray);
    font-weight: 600;
    border-radius: var(--button-radius);
}

.text-input {
    padding: .25rem .4rem;
    border-radius: var(--input-radius);
    border-width: 4px;
    border-color: transparent;
    background-color: var(--color-input-bg);
    color: white;
    appearance: none;
}

.text-input:focus {
    border-color: var(--color-primary);
}

.date-input {
    padding: .25rem .4rem;
    border-radius: var(--input-radius);
    border-width: 4px;
    border-color: transparent;
    background-color: var(--color-input-bg);
    color: white;
    appearance: none;
}

.checkbox {
    appearance: none;
    background-color: var(--color-input-bg);
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15rem;
    height: 1.15rem;
    border: 0.1rem solid currentColor;
    border-radius: 0.15rem;
    display: grid;
    place-content: center;
}

.checkbox::before {
    content: "";
    width: 0.7rem;
    height: 0.7rem;
    transform: scale(0);
    box-shadow: inset 1rem 1rem var(--color-primary);
    border-radius: 0.1rem;
}

.checkbox:checked::before {
    transform: scale(1);
}

.timer {
    background-color: var(--color-secondary);
    border-width: .125rem;
    border-color: var(--color-primary);
    padding: .5rem 1.25rem;
    color: var(--color-primary);
    font-weight: 600;
    border-radius: var(--button-radius);
    text-align: center;
}