.loading-container {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;

  svg {
    margin-bottom: 2px;
  }

  p {
    color: var(--color-secondary)
  }
}